<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PnP_convFrame">
		<size>1000,800</size>
		<id_arg>0</id_arg>
		<object class="wxAuiManager" variable="auiManager" member="yes">
			<object class="AuiManagerItem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_txtLog" member="yes">
					<size>-1,50</size>
					<style>wxTE_MULTILINE</style>
				</object>
				<name>auiPaneLog</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<row>1</row>
				<dockdirection>Bottom</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="Custom" name="ID_PROP" subclass="wxPropertyGrid" variable="m_pgProps" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
					<include_file>wx/propgrid/propgrid.h</include_file>
					<style></style>
					<size>100,-1</size>
				</object>
				<name>auiProperties</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<row>1</row>
				<dockdirection>Right</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="auiMainNotebook" member="yes">
					<style>wxAUI_NB_TAB_SPLIT|wxAUI_NB_TAB_MOVE|wxAUI_NB_WINDOWLIST_BUTTON</style>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<object class="sizeritem">
									<object class="Custom" name="ID_COMP_TABLE" subclass="cCompTable" variable="m_comp_table" member="yes">
										<creating_code>$(THIS) = new $(CLASS)(&amp;m__components__list, $(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
										<include_file>comp__table.h</include_file>
										<local_include>1</local_include>
										<style></style>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Componenets</label>
					</object>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer1" member="no">
								<object class="sizeritem">
									<object class="Custom" name="ID_COMP_TYPE_TABLE" subclass="cCompTypeTable" variable="m_comp_type_table" member="yes">
										<creating_code>$(THIS) = new $(CLASS)(&amp;m__component__types__list, $(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
										<include_file>comp__type__table.h</include_file>
										<local_include>1</local_include>
										<style></style>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Component Types</label>
					</object>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<object class="sizeritem">
									<object class="Custom" name="ID_PATTERNS_TABLE" subclass="cPatternTable" variable="m_pattern_table" member="yes">
										<creating_code>$(THIS) = new $(CLASS)(&amp;m__patterns__list, $(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
										<include_file>pattern__table.h</include_file>
										<local_include>1</local_include>
										<style></style>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Packages</label>
					</object>
				</object>
				<name>auiPaneGraphs</name>
				<standardpanetype>Center</standardpanetype>
				<caption>Graphs view</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_OPEN" variable="mnuOpen" member="no">
					<label>Open PnP file</label>
					<accel>Ctrl+O</accel>
					<help>Open file to export</help>
					<handler function="On_mnuOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_SAVE_PROD" variable="mnuSaveProd" member="no">
					<label>Save prod file</label>
					<accel>Ctrl+S</accel>
					<help>Save data file for DIMA PP-050</help>
					<handler function="On_mnuSaveProdSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_QUIT" variable="mnuQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="mnuAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
